.section {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.button {
    background-color: var(--primary);
    padding: 1rem;
    width: 10vw;
    color: white;
    word-wrap: normal;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
}
